<div class="form__container">
  <h2>Ajouter un profil</h2>
  
  <form class="add-profile" onsubmit="return false;">
    
    <label for="name">Nom du profil *</label>
    <input type="text" id="name" name="name" required>

    <label for="age_restriction">Restriction d'âge *</label>
    <select id="age_restriction" name="age_restriction" required>
      <option value="0">Tous publics</option>
      <option value="12">12+</option>
      <option value="16">16+</option>
      <option value="18">18+</option>
    </select>

    <label for="avatar">URL de l'Avatar (facultatif)</label>
    <input type="url" id="avatar" name="avatar">

    <button type="button" onclick="{{handler}}" class="btn-submit">Créer le profil</button>
    
  </form>
</div>